<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <title>gin router post</title>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href="/static/css/common.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <p style="background-color: yellow;">接口的数据都是使用第一个表单中的值，部分接口调用结果请在`Network`中查看</p>
    <section>
      <!-- 成功 -->
      <p>表单提交</p>
      <form method="post" action="/api/form_post" id='form'>
        <div class="form-item">
          <label for='name'>name</label>
          <input type="text" id='name' name="name">
        </div>
        <div class="form-item">
          <label for='message'>message</label>
          <input type="text" id='message' name="message">
        </div>
        <div class="form-item">
          <label for='name'>nick</label>
          <input type="text" id='nick' name="nick">
        </div>
        <button type="submit">提交</button>
      </form>
    </section>
    <hr />

    <section>
      <p>post请求 `application/x-www-form-urlencoded`数据格式</p>
      <button class='urlencoded'>x-www-form-urlencoded</button>
      <div class="urlencoded-msg"></div>
    </section>
    <hr />
    <section>
      <p>post请求 `application/json`数据格式</p>
      <button class='json'>json</button>
      <div class="json-msg"></div>
    </section>
    <hr />

    <section>
      <p>post请求</p>
      <p>不同数据格式请求同一个接口</p>
      <button class='jsonandform'>json</button>
      <button class='jsonandform2'>x-www-form-urlencoded</button>
      <div class="jsonandform-msg"></div>
    </section>
    <hr />

    <section>
      <p>post请求 `application/xml`</p>
      <button class="xml_post">xml_post</button>
      <div class="xml-msg"></div>
    </section>
    <hr />

    <section>
      <p>文件上传</p>
      <div>
        <form id="multipleForm">
          <input type="file" name="file" id='file' multiple="multiple" accept="image/*">
        </form>
        <button class="file_upload">开始上传文件</button>
      </div>
      <div class="file_upload-msg"></div>
      <br />
      <a href="/upload_chunks" target="_blank">文件分片上传</a>
    </section>
    <hr />

    <section>
      <p>带参数的get请求</p>
      <button class="query">query</button>
      <div class="query-msg"></div>
    </section>
    <hr />

  </div>
  <script type="text/javascript" src="/static/js/index.js"></script>
</body>

</html>